.container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 48px;
    font-size: 16px;
    margin-top: 25px;
    padding-top: 15px;
    display: flex;
    align-items: center;
}


.board {
    display: grid;
    margin-top: 2%;
    cursor: not-allowed;
    pointer-events: none;
}



.header {
    text-align: center;
}

.buttonSection {
    align-content: center;
    align-items: center;
    height: auto;
    margin-top: 5%;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    width: auto;
    font-size: 0.7rem;
    padding-bottom: 5%;
}