.container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 48px;
    font-size: 16px;
    margin-top: 25px;
    padding-top: 15px;
    display: flex;
    align-items: center;
}


.board {
    display: grid;
    margin-top: 2%;
    cursor: not-allowed;
    pointer-events: none;
}

.numbers {
    font-size: 1.2rem;
    text-align: center;
    padding-top: 10%;
    font-family: 'Domine', Verdana, Times, serif;
}

.numberWhite {
    color: white;
}

.numberBlack {
    color: black;
}

.header {
    text-align: center;
}

.buttonSection {
    align-content: center;
    align-items: center;
    height: auto;
    margin-top: 5%;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    width: auto;
    font-size: 0.7rem;
    padding-bottom: 5%;
    text-shadow:
        1px 4px 1px #580051,
        1px 5px 1px #5c0040,
        1px 6px 1px #99007f,
        1px 22px 10px rgba(44, 1, 37, 0.2),
        1px 25px 35px rgba(39, 0, 33, 0.2),
        1px 30px 60px rgba(179, 0, 155, 0.2);
}