.container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 48px;
    font-size: 16px;
    margin-top: 25px;
    padding-top: 15px;
    display: flex;
    align-items: center;
}

.board {
    display: grid;
    margin-top: 2%;

}

.header {
    text-align: center;
    text-shadow:
        1px 4px 1px #80757e34,
        1px 5px 1px #6d636a31,
        1px 30px 60px rgba(78, 1, 68, 0.1);
}

.buttonSection {
    align-content: center;
    align-items: center;
    height: auto;
    margin-top: 5%;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    width: auto;
    font-size: 0.7rem;
    padding-bottom: 5%;
}

.gameOver {
    cursor: not-allowed;
    pointer-events: none;
}