.container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 48px;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

.board {
    display: grid;
    margin-top: 2%;

}

.header {
    text-align: center;
}


.list {
    margin-top: 10%;
    border: 3px solid #363636;
    padding: 8px 15px 8px 15px;
    width: 75%;
    display: inline-flex;
    justify-content: space-between;
    background-color: rgb(255, 205, 253, 0.65);
}