body {
  margin: 0;
  font-family: 'Domine', Verdana, Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./utils/531198-PJ62U5-579-Edit.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}