.container {
    display: flex;
    flex-direction: column;
    width: auto;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    padding-bottom: 5%;
}

.header {
    margin-top: 5%;
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 1%;
    text-shadow:
        1px 4px 1px #80757e34,
        1px 5px 1px #41393e31,
        1px 30px 60px rgba(78, 1, 68, 0.1);
}

.list {
    height: auto;
    margin-top: 5%;
    border: 3px solid #363636;
    padding: 25px;
    width: 60%;
    display: inline-flex;
    justify-content: space-between;
    background-color: rgb(255, 205, 253, 0.65);
}

.hidden {
    display: none;
}