.container {
    display: flex;
    flex-direction: column;
    width: auto;
    padding-top: 15px;
    display: flex;
    align-items: center;
}


.header {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    text-shadow:
        1px 4px 1px #80757e34,
        1px 5px 1px #6d636a31,
        1px 30px 60px rgba(78, 1, 68, 0.1);
}