.message {
    width: 100%;
    box-sizing: border-box;
    color: white;
    font-weight: 700;
    border-radius: 1rem;
}

.info {
    color: #2196F3;
}

.success {
    color: #04AA6D;
}

.warning {
    color: #ff9800;
}

.error {
    color: #f44336;
}