.button {
    width: auto;
    height: auto;
    text-align: center;
    align-items: right;
    background-color: #d60096;
    border: 0;
    border-radius: 1rem;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-size: 150%;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1rem 3rem;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    margin: 0.8% 3%;

}

.button:hover {
    background-color: #b10076;
    color: #ffffff;
}

.button:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}

.reset {
    width: 60%;
    margin-left: -20%;
    align-items: left;
}

.leave {
    width: 60%;
    align-items: right;
    margin-right: -20%;

}

.viewLog {
    width: 35%;
    height: auto;
    font-size: 100%;
}