.header {
    color: rgb(34, 0, 26);
    text-align: left;
    padding-left: 5%;
    border-bottom: #252525;
    border-width: 1rem;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 1px 1px 1px#414141,
        1px 2px 1px #252525,
        1px 3px 1px #252525,
        1px 4px 1px #252525,
        1px 5px 1px #252525,
        1px 6px 1px #252525,
        1px 18px 6px rgba(16, 16, 16, 0.4),
        1px 22px 10px rgba(16, 16, 16, 0.2),
        1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 30px 60px rgba(16, 16, 16, 0.4);
}

.container {
    border-bottom: 3px solid #202020;
    padding-bottom: 8px;
    width: 110%;
}