.author {
    font-size: 1.3rem;
    pointer-events: none;
    font-family: 'Dancing Script', cursive, Times, serif;
    text-shadow: none;
    text-transform: none;
    font-weight: 700;
    color: rgb(27, 0, 19);
    user-select: none;
    display: inline-flex;
    position: absolute;
    margin-left: 2%;
    margin-bottom: 2%;
    z-index: 0;
}

.username {
    text-transform: uppercase;
}

.container {
    border-bottom: 3px solid #363636;
    padding-bottom: 8px;
    padding-top: 5px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    background-color: rgb(255, 205, 253, 0.65);
}

.title {
    color: rgb(255, 37, 186);
    margin-top: 1.3%;
    margin-bottom: 0.5%;
    text-align: left;
    padding-left: 3%;
    border-width: 1rem;
    font-size: 4.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 1px 1px 1px#414141,
        1px 2px 1px #4d0046,
        1px 3px 1px #8a015c,
        1px 4px 1px #580051,
        1px 5px 1px #5c0040,
        1px 6px 1px #99007f,
        1px 18px 6px rgb(58, 0, 58),
        1px 22px 10px rgba(29, 0, 24, 0.2),
        1px 25px 35px rgba(39, 0, 33, 0.2),
        1px 30px 60px rgba(179, 0, 155, 0.5);

}