.square {
    height: 2rem;
    width: 2rem;
    border: 2px solid purple;
    box-sizing: border-box;
    cursor: pointer;
}

.Black {
    background-color: black;
}

.White {
    background-color: rgb(255, 255, 255);
}

.available {
    background-color: rgb(255, 205, 253);
}

.occupied {
    cursor: not-allowed;
    pointer-events: none;
}